.header {
  background-color: navy;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.registerButton-top {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px 20px;
  background-color: #ffffff;
  color: navy;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
}

.header-container {
  display: flex;
}

.header-logo {
  margin: 20px;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 350px;
}

.header-nav-list {
  list-style: none;
  display: flex;
  gap: 20px;
}

.header-nav-item {
  margin: 0;
  /* font-style: oblique;
   */
  font-size: large;
  font-weight: 500;
}

.header-nav-link {
  text-decoration: none;
  color: #fff;
}
